<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
    </div>
    <%= f.telephone_field Trestle.config.auth.user_role_auth_field,
                         placeholder: Trestle.config.auth.user_class.human_attribute_name(
                           Trestle.config.auth.user_role_auth_field
                         ), class: "form-control password-mask" %>
  </div>
  <div class="input-group">
    <%= f.hidden_field :role, value: @role %>
  </div>
</div>

<%= hook("auth.login.form", f) %>

<div class="form-group">
  <%= f.submit t("admin.auth.login", default: "Login"), class: "btn btn-primary btn-block btn-lg" %>
</div>
